<h1>Welcome to the Dev Point Labs Forums!</h1>

<p>Check out the
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>

<ul>
    <h1>RULES:</h1>
    <li>
       1. don't be a dick
    </li>
    <li>
       2. refer to rule #1
    </li>
  </ul>

<% unless Rails.env.production? %>
  
<% end %>
