%form-hint {
  color: $secondary-text-color;
}

img.emoji {
  width: 1.429em;
  height: 1.429em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.35em;
  -webkit-user-drag: none;
}

.form-inputs {
  .hint {
    @extend %form-hint;
  }
  .error {
    @extend %thredded--alert;
    @extend %thredded--alert--danger;
    display: block;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.form-hint {
  @extend %form-hint;
}

.form-inputs .input,
.form-actions {
  margin: 1rem 0;
}

button, input[type="submit"] {
  @extend %thredded--button;
}

form {
  @extend %thredded--form;
}
